/*
  APP.CSS -> CSS GLOBAL
  AUTHOR: @santanammu (duhhh)
  DATE: 15 MAY 2023 (also duhhh)
*/

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

/* BODY STYLE */
body {
  /* Add the background here, RISHISAN */
  background-image: url('./img/kanmasu_BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Klee One', cursive;
}

/* WHITE BG BOX WITH BLACK TEXT */
/* FOR DEBUG/DISPLAY PURPOSES */
.white-bg {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-size: 2rem;
}

/* TOP DIV */
.topdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  border-radius: 2em;
}

/* CLICKABLE BUTTON */
.clickable_button {
  background-color: #efefef;
  box-shadow: 0 7px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2em;
  padding: 1em;
  font-size: 1rem;
  min-width: 3em;
  font-family: 'Klee One', cursive;
}

/* THE JAPANESE TEXT FOR THE CLICKABLE BUTTONS */
.button_text_JP {
  font-size: 3em;
  text-shadow: 0px 1.5px 1.5px rgba(0,0,0,0.75);
  text-align: center;
  margin-bottom: 0.25em;
}

/* HOVER SUPPORT */
.clickable_button:hover {
  background-color: #333333;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

/* CREATE CARD DIV */
.create-card-div {
  /* Adding base styles... */
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2em;
  font-family: 'Klee One', cursive;
}

/* CREATE CARD DIV HELPERS */
.create_card_div_title {
  font-size: 2rem;
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
}

#prev_card {
  font-size: 1rem;
}

#prev_card_JP {
  font-size: 2.5rem;
}

#create_card {
  font-size: 1rem;
}

#create_card_JP {
  font-size: 2.5rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  font-family: 'Klee One', cursive;
  font-size: 1rem;
}

.input-container label {
  margin: 0.5em 0;
  margin-right: .5rem;
}

.input-container-subsection {
  /* space between elems within subsection */
  display: flex;
  flex-direction: row;
}

.input-container input[type="text"] {
  /* For text input... */
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-family: 'Klee One', cursive;
}

.buttons-container {
  /* Basic stuff... */
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
  font-size: .75em;
}

/* CARD PREVIEWS */
.preview-card-div {
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0.5em;
  padding: 1em;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 22.5%;
  min-height: 200px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 3rem;

  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.preview-card-div:hover {
  background-color: #333333;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.6s ease;
  color: white;
}

.card-kanji {
  font-size: 2.5rem;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  font-weight: bold;
  text-align: center;
}

.card-hiragana, .card-romaji {
  font-size: 1.25rem;
  text-align: center;
}
.card-hiragana {
  margin-bottom: 0.5rem;
}
.card-romaji {
  margin-bottom: 1.25rem;
}

.card-definition {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  text-align: center;
  margin-top: 2em;
}

/* FOR VIEW ALL CARDS */
.view-all-cards-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
}

.view_all_cards_div_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.view_all_cards_div_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

/* FOR TESTING KANJI */
.testing_options {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.testing_option {
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.testing_option:hover {
  background-color: #e0e0e0;
}

.testing_option:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

.maindiv {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
}

.main-div-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .5em;
  text-align: center;
}

.main-div-content {
  font-size: 1rem;
  text-align: left;
  margin: 1em;
}

/* CLICKABLE BUTTON 2 */
.clickable_button_2 {
  background-color: #efefef;
  box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2em;
  padding: 1em;
  font-size: 1rem;
  min-width: 2rem;
  height: 2.5rem;
  font-family: 'Klee One', cursive;
  margin-right: 1.5em;
}

.button_text_JP_2 {
  font-size: 1.5rem;
   font-weight: bold;
  text-align: center;
}

.spacer {
  margin-bottom: 2em;
}

.main-div-example {
  flex-direction: row;
  display: flex;
  margin-bottom: 2em;
}

/* PRACTICE CARDS */
.practice-cards-div
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  background-color: #efefef;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
}

.practice-cards-div-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .5em;
  text-align: center;
}

.practice-cards-div-content {
  font-size: 1rem;
  text-align: left;
  margin: 1em;
  margin-bottom: 1.5em;
}

.practice-cards-buttons-and-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.practice-cards-buttons {
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2em;
  padding: 1em;
  font-size: 1.5rem;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.practice-cards-buttons[disabled] {
  color: #999;
  cursor: not-allowed;
}

.practice-cards-buttons:hover {
  background-color: #e0e0e0;
}

/* CARD PREVIEWS */
.preview-card-div-pc {
  background-color: #efefef;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0.5em;
  padding: 0em;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 500px;
  min-height: 250px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 2em;
}
.preview-card-div-pc:hover {
  background-color: #333333;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.6s ease;
  color: white;
}

.card-definition-pc {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

.App-logo {
  max-width: 15%;
}